.burgerMenuWrapper {
  position: fixed;
  top: 3px;
  left: 3px;
  z-index: 5;
}

.menuBurger {
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 4;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: transform 0.3s ease;
}

.menuBurger.open {
  transform: rotate(90deg);
  z-index: 6;
}

.navBar {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;

  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
  z-index: 5;
  width: 90vw;
}

.navBar.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  width: 90vw;
  z-index: 5;
}

.menuOpen {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 5;
}

.menuOpen li {
  margin: 1rem 0;
  z-index: 5;
}

.menuOpen a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  z-index: 43;
  font-family: "Karantina", cursive;
  letter-spacing: 0.3rem;
}

@media screen and (min-width: 800px) {
  .menuBurger {
    display: none;
  }

  .navBar {
    position: static;
    display: block;
    opacity: 1;
    visibility: visible;
    transform: none;
    background-color: transparent;
    padding: 0;
  }

  .menuOpen {
    display: flex;
    justify-content: start;
  }

  .menuOpen li {
    margin: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .navBar {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(255, 255, 255, 0.39);
    background: rgba(255, 255, 255, 0.13);
  }
}
