.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeInfo {
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.playButton {
  height: 25px;
}

.pauseButton {
  height: 25px;
}

.forwardButton {
  height: 25px;
}

.backwardButton {
  height: 25px;
}