.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}

.slider {
  width: 100%;
  max-width: 200px;
  appearance: none;
  height: 4px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(
    to right,
    #ffffff76 var(--volume-fill, 50%),
    #a5a5a527 var(--volume-fill, 50%)
  );
  outline: none;
  cursor: pointer;
  margin-top: 0;
  box-shadow: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: none;
}

.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: none;
}
